.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

.main h3 {
    width: 450px;
    text-align: center;
}

.main input {
    width: 450px;
    height: 30px;
    border-radius: 10px;
    outline:none;
    text-align: center;
}
.main button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    outline:none
}
.error{
    color:red;

}
.message{
    margin-top: 70px;

}